<!-- details-cv.component.html -->
@if (loading()) {
  <div class="loading">Chargement du CV...</div>
} @else if (cv()) {
  <div class="cv-details">
    <div class="cv-header">
      <h2>{{ cv()?.firstname }} {{ cv()?.name }}</h2>
      @if (authService.isAuthenticated()) {
        <div class="actions">
          <button 
            (click)="deleteCv(cv()!)" 
            [disabled]="deleting()"
            class="btn btn-danger"
          >
            @if (deleting()) {
              Suppression...
            } @else {
              Supprimer
            }
          </button>
        </div>
      }
    </div>
    
    <div class="cv-content">
      
      
      <div class="cv-info">
        <p><strong>Âge:</strong> {{ cv()?.age }} ans</p>
        <p><strong>Poste:</strong> {{ cv()?.job }}</p>
        <p><strong>CIN:</strong> {{ cv()?.cin }}</p>
      </div>
    </div>
  </div>
} @else {
  <div class="error">CV non trouvé</div>
}s